
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ng-file-upload.min.js"></script>
<script src="~/Scripts/dirPagination.js"></script>
<div ng-app="AppModule" ng-controller="BenhNhanController">
    <h2>Quản lý bệnh nhân</h2>
    <div class="panel-body">
        <form action="" method="get">
            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <input type="text" ng-model="searchText" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="Search(TenSP)" class="btn btn-success">Tìm kiếm</button>
                        @*<button ng-click="Them()" type="button" class="btn btn-primary">
            <a href="/QuanLyBenhNhan/Insert">Thêm mới</a>
        </button>*@
                      
                    <a class="btn btn-primary" href="/QuanLyBenhNhan/Insert" >
                        Thêm mới
                    </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-bordered table-responsive table-hover table-striped">
        <thead class="text-center">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Năm sinh</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Dân tộc</th>
                <th scope="col">Mã số BHXH - BHYT</th>
                <th scope="col">Đơn vị công tác</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Vào viện</th>
                <th scope="col">Ra viện</th>
                <th scope="col">Chẩn đoán vào viện</th>
                <th scope="col">Chẩn đoán ra viện</th>
                <th scope="col">Tóm tắt bệnh án</th>
                <th scope="col">Hình Ảnh</th>
                <th scope="col">Ghi chú</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="b in ListBenhNhan | filter: searchText" total-items="totalCount">
                <td>{{$index + 1}}</td>
                <td>{{b.HoTen}}</td>
                <td>{{b.NamSinh}}</td>
                <td>{{b.GioiTinh}}</td>
                <td>{{b.DanToc}}</td>
                <td>{{b.MaSoBHXH_BHYT}}</td>
                <td>{{b.DonViCongTac}}</td>
                <td>{{b.DiaChi}}</td>
                <td>{{b.VaoVien}}</td>
                <td>{{b.RaVien}}</td>
                <td>{{b.ChanDoanVaoVien}}</td>
                <td>{{b.ChanDoanRaVien}}</td>
                <td>{{b.TomTatBenhAn}}</td>
                <td><img src="~/img/BenhNhan/{{b.HinhAnh}}" width="150px" height="150px" /></td>
                <td>{{b.GhiChu}}</td>
                <td>
                    <button class="btn btn-success btn-sm" ng-click="Sua(b)" data-toggle="modal" data-target="#modelId">Sửa</button>
                </td>
                <td>
                    <button class="btn btn-success btn-sm" ng-click="XoaBenhNhan(b)">Xóa</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td align="center" colspan="17">
                    <span class="form-group pull-left page-size form-inline">
                        <select id="ddlPageSize" class="form-control control-color"
                                ng-model="pageSizeSelected"
                                ng-change="changePageSize()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </span>
                    <div class="pull-right">
                        <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                        <a class="btn btn-primary">Page: {{pageIndex}} / {{numPages}}</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sửa</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Họ tên</label>
                        <input ng-model="b.HoTen" type="text" id="name" class="form-control" name="" placeholder="">

                        <label for="date">Năm sinh</label>
                        <input ng-model="b.NamSinh" type="date" id="date" class="form-control" name="" placeholder="">
                        <label for="">Giới tính</label>
                        <select ng-model="b.GioiTinh" class="form-control" name="" id="">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <label for="">Dân tộc</label>
                        <input ng-model="b.DanToc" type="text" id="DanToc" class="form-control" name="" placeholder="">
                        <label for="">Mã số BHXH - BHYT</label>
                        <input ng-model="b.MaSoBHXH_BHYT" type="text" id="MaSoBHXH_BHYT" class="form-control" name="" placeholder="">
                        <label for="">Đơn vị công tác</label>
                        <input ng-model="b.DonViCongTac" type="text" id="DonViCongtac" class="form-control" name="" placeholder="">
                        <label for="">Địa chỉ</label>
                        <input ng-model="b.DiaChi" type="text" id="DiaChi" class="form-control" name="" placeholder="">
                        <label for="">Vào viện</label>
                        <input ng-model="b.VaoVien" type="date" id="VaoVien" class="form-control" name="" placeholder="">
                        <label for="">Ra viện</label>
                        <input ng-model="b.RaVien" type="date" id="RaVien" class="form-control" name="" placeholder="">
                        <label for="">Chẩn đoán vào viện</label>
                        <input ng-model="b.ChanDoanVaoVien" type="text" id="ChanDoanVaoVien" class="form-control" name="" placeholder="">
                        <label for="">Chẩn đoán ra viện</label>
                        <input ng-model="b.ChanDoanRaVien" type="text" id="ChanDoanRaVien" class="form-control" name="" placeholder="">
                        <label for="">Tóm tắt bệnh án</label>
                        <textarea ng-model="b.TomTatBenhAn" type="text" id="TomTatBenhAn" class="form-control" name="" placeholder=""></textarea>
                        <label for="image">Hình ảnh</label>
                        <input ng-model="b.HinhAnh" multiple="multiple" type="file" id="image" class="form-control" ngf-select="UploadFiles($files)">
                        <label for="">Ghi chú</label>
                        <input ng-model="b.GhiChu" type="text" id="GhiChu" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="Update()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->
</div>

